#header {
    background-color: white;
}

.floating-footer {
    background-color: none;
}

#main-content {
    width: 100vw;
}

#left-side {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 40vw;
}

#code-img {
    display: inline-block;
    object-fit: cover;
    padding-left: 18vw;
    width: 100%;
    height: 100vh;
}



#right-side {
    margin: 0;
    height: 100vh;
    min-width: 60vw;
}

#project-row {
    margin: auto;
    margin-top: 18vh;
    justify-content: center;
    margin-bottom: 3rem;
}

#slider {
    display: flex;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/* Causing syntax error */
@supports (scroll-snap-type) {
    #slide-left, #slide-right {
      display: none;
    }
}

#slide-left, #slide-right {
    margin: 0.5rem;
    margin-top: 8.5rem;
    padding: 0;
    height: 3rem;
    max-width: 1.8rem;
    opacity: 70%;
}

#slide-left:hover, #slide-right:hover {
    opacity: 90%;
}

.slide-nav {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;

    scroll-snap-align: start;
}

#right-content {
    padding: 0;
    max-width: 30rem;
}

#page-title {
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

hr {
    border: none;
    margin-top: 0.3rem;
    width: 30%;
    height: 1px;
    background-color: lightgray;
}

.project-title-box {
    display: inline-block;
    margin: auto;
    width: 100%;
}

.project-title {
    display: inline-block;
    font-size: 1.5rem;
}

.project-content-box {
    margin: auto;
    width: 95%;
    font-size: 1.0rem;
}

.project-text {
    font-size: 1.1rem;
}

#obbc, #passenger {
    margin: auto;
    object-fit: contain;
    height: 10rem;
    width: 10rem;
}

/******* Styles: Tablet *******/
@media (max-width: 1150px) {

    #left-side, #right-side {
        margin: 0;
        padding: 0;
        min-width: 100vw;
    }

    #left-side {
        max-height: 20vh;
    }

    #code-img {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #right-side {
        display: flex;
        align-items: center;
        height: 80vh;
    }

    #right-content {
        min-width: 80vw;
    }

    #project-row {
        margin-top: -3vh;
        height: 60%;
        width: 100%;
        align-items: center;
    }

    #slide-left, #slide-right {
        margin-top: -15vh;
        height: 2.6rem;
    }
    
    #page-title {
        font-size: 5.5vw;
    }
    
    .project-title {
        font-size: 3.2vw;
    }

    .project-text {
        margin-bottom: 10vh;
        font-size: 2vw;
    }

    .project-content-box {
        padding: 2rem;
    }

    #obbc, #passenger {
        height: 18vw;
        width: 18vw;
    }
}
/************************************/

/******* Styles: Tablet/Phone *******/
@media (max-width: 624px) {
    #project-row {
        margin-top: -17vh;
    }

    #right-content {
        width: 40vw;
        margin-bottom: 20vh;
    }

    #slide-left, #slide-right {
        max-height: 1.5rem;
        max-width: 1rem;
    }
    
    #page-title {
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }
    
    .project-title {
        font-size: 1.2rem;
    }

    .project-text {
        margin: auto;
        font-size: 0.7rem;
        width: 100%;
    }

    #obbc, #passenger {
        height: 6rem;
        width: 6rem;
    }
}
/************************************/